<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="menu.html::menu">
</div>

<div class="cardView">
  <table  class="tСardView">
    <tbody>
    <tr>
      <td class="c2" colspan="2">
        <label>
          Карта передачи ПО №
        </label>
      </td>
    </tr>
    <tr>
      <td class="с1">
        Письмо
      </td>
      <td class="c3">
                <span id="C_LETTER">
                </span>
      </td>
    </tr>
    <tr>
      <td class="c1">
        Подсистема
      </td>
      <td class="c2">
                <span id="C_SYSTEM">
                </span>
      </td>
    </tr>
    <tr>
      <td class="c1">
        Ответственный за передачу
      </td>
      <td class="c3">
                <span id="C_OTV">
                </span>
      </td>
    </tr>
    <tr>
      <td class="c1">
        Дата создания
      </td>
      <td class="c3">
                <!--/*@thymesVar id="standardDate" type=""*/-->
<!--                <span id="C_DATE_CREATE" th:text="${#dates.formatISO(standardDate, 'dd-MM-yyyy HH:mm')}">-->
<!--                </span>-->
      </td>
    </tr>
    <tr>
      <td class="c1">
        Дата корректировки
      </td>
      <td class="c3">
                <span id="C_DATE_KORR">
                </span>
      </td>
    </tr>
    <tr>
      <td class="c1">
        Статус передачи
      </td>
      <td class="c3">
                <span ID="C_STATUS">
                </span>
      </td>
    </tr>
    <tr>
      <td class="c2" colspan="2">
        Передаваемые наряды:
      </td>
    </tr>
    <tr>
      <td class="c2" colspan="2">
                <span id="C_ORDER_LIST">
                </span>
      </td>
    </tr>
    </tbody>
  </table>

  <table class="tCardMenu">
    <tr>
      <td class="tm1">
        <form th:action="/adjust">
        <input type="submit" value="Корректировать" id="C_CHANGES_AC" onclick="Correct()">
        </form>
      </td>
      <td class="tm1">
        <form>
        <input type="submit" value="В эталон" id="C_ADD_E"/>
        </form>
      </td>
      <td class="tm1">
        <form th:action="/cards_list">
        <input type="submit" value="Закрыть" id="C_CLOSE"/>
        </form>
      </td>
      <td class="tm1">
        <form th:action="/story">
        <input type="submit" value="История" id="C_HISTORY"/>
        </form>
      </td>
    </tr>
  </table>
</div>
</body>
</html>