<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Настройки</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{../static/css/settings.css}"/>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{../static/css/main.css}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

</head>
<body>

<header th:replace="~{fragments/menu/menu :: menu}">
</header>

<div class="systems_set">
    <button th:action="@{system_set}">
        <a th:attr="onclick=|getSystems()|">Системы</a>
    </button>
    <button>
        <a th:attr="onclick=|getGroups()|">Группы</a>
    </button>
        <a th:attr="onclick=|getUsers()|">Пользователи</a>
    <a th:attr="onclick=|getRole()|">Роли</a>
</div>

<div id="hidden_systems" style="display: none;" >
    <div th:replace="~{fragments/systems_set/system_set::system_set}">

    </div>
</div>
<script>
    function getSystems() {
        if(document.getElementById("hidden_systems").style.display == "none"){
            document.getElementById("hidden_systems").style.display ="block"
        }
        document.getElementById("hidden_groups").style.display = "none";
        document.getElementById("hidden_users").style.display = "none";
        document.getElementById("hidden_role").style.display = "none"
    }

</script>
<div id="hidden_groups" class="" style="display: none;">
    <div th:replace="~{fragments/groups_set/group_set::group_set}">

    </div>
</div>
<script>
    function getGroups() {
        if(document.getElementById("hidden_groups").style.display == "none"){
            document.getElementById("hidden_groups").style.display ="block"
        }
        document.getElementById("hidden_systems").style.display = "none";
        document.getElementById("hidden_users").style.display = "none";
        document.getElementById("hidden_role").style.display = "none"
    }
</script>
<div id="hidden_users" style="display: none;">
    <div th:replace="~{fragments/users_set/add_user::users_set}">

    </div>
</div>
<script>
    function getUsers() {
        if(document.getElementById("hidden_users").style.display == "none"){
            document.getElementById("hidden_users").style.display ="block"
        }
        document.getElementById("hidden_systems").style.display = "none";
        document.getElementById("hidden_groups").style.display = "none";
        document.getElementById("hidden_role").style.display = "none"
    }
</script>
<div id="hidden_role" style="display: none;">
    <div th:replace="~{fragments/roles_set/role_set::role_set}">

    </div>
</div>
<script>
    function getRole() {
        if(document.getElementById("hidden_role").style.display == "none"){
            document.getElementById("hidden_role").style.display ="block"
        }
        document.getElementById("hidden_systems").style.display = "none";
        document.getElementById("hidden_groups").style.display = "none";
        document.getElementById("hidden_users").style.display = "none";
    }
</script>

</body>
</html>